<div>
    <h2 style="justify-content: center;">Hello <%=locals.name%></h2>
    <p>Please verify your email <i><%=locals.email%></i>.</p>
    <p>Your OTP (One Time Password) was <b><%=locals.otp%></b></p>
    <br>
    <br>
    <p><i style="color: red;">Don't share this OTP with anyone**</i></p>
    <br>
    <p>Team bhanujodha.tech</p>
</div>