<div>
    <h2 style="justify-content: center;">Hello <%=locals.name%></h2>
    <p>Thanks for verify your email <i><%=locals.email%></i>.</p>
    <br>
    <br>
    <p><i style="color: blue;">Your account is active now*</i></p>
    <br>
    <p>Team bhanujodha.tech</p>
</div>